# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# pliki systemowe/macOS
.DS_Store

# logi, cache
*.log
*.tmp
*.bak
*.swp

# Windows
Thumbs.db
